<h1>Historia</h1>
<hr>
<!-- asdasdasd -->
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>

<div class="page-wrapper chiller-theme toggled ">
    <div class="container">
        <div class="wrap-log p-t-10 p-b-25">


            <nav class="sidebar-wrapper">
                <div class="sidebar-content">
                    <div class="sidebar-brand">
                        <a>Perfil</a>

                    </div>
                    <div class="sidebar-header">
                        <div class="user-pic">
                            <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
                        </div>
                        <div class="user-info">
                            <span class="user-name">
                                            <strong>Jesus Alonso Rios Salinas</strong>
                                        </span>

                        </div>
                    </div>

                    <div class="col text-right ">
                        <button class="btn btn-primary">  
                                            <i class="fa fa-plus"> Agregar</i>
                                        </button>

                    </div>

                    <div class="sidebar-menu">
                        <ul>
                            <li class="header-menu">
                                <span>General</span>
                            </li>
                        </ul>
                    </div>



                </div>

            </nav>
        </div>


    </div>

</div>